.idea# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.AppleDouble
.LSOverride
.idea

pyvenv.cfg
<.venv
>
__pycache__
*.py[cod]
*$py.class

*.so

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


.scrapy

.ipynb_checkpoints

__pypackages__/


.env
env/
venv/
ENV/
env.bak/
venv.bak/

.spyderproject
.spyproject


/site

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

.pytype/

cython_debug/

/tmp/
.vscode

!/scripts
!/requirements
lib
log
tmp
cache/
